.wrapper_with_padding
  #notes.clearfix
    - unless @notes.blank?
      -@notes.each do |note|
        %a{ href: (url_for [note])}
          .note
            %p.title= note.title
            %p.date
              Created 
              = time_ago_in_words(note.created_at)
              ago
    - else
      %h2 Add a note
      %p It appears you have no notes, let's change that!
      %button= link_to "Add a note", new_note_pad