#banner
  .banner_content
    %h1 NoteNote
    %p Your online notebook.
    %button= link_to "Sign Up", new_user_registration_path

#testimonial
  .wrapper
    %p.quote "Not as shit as some online notebooks."
    %p.name - Steve Smith

#callouts
  .callout_inner
    .wrapper
      .callout
        %i.fa.fa-pencil
        %h2 Notes
        %p Built like a banana bender no dramas shazza got us some sheila. Grab us a moolah my she'll be right whinge. Stands out like a perve to get a dog up ya bodgy. Lets throw a bities also come a bludger. It'll be boogie board heaps stands out like a banana bender. 
      .callout
        %i.fa.fa-paper-plane
        %h2 Shopping Lists
        %p Built like a banana bender no dramas shazza got us some sheila. Grab us a moolah my she'll be right whinge. Stands out like a perve to get a dog up ya bodgy. Lets throw a bities also come a bludger. It'll be boogie board heaps stands out like a banana bender. Gutful of thongs bloody she'll be right sanger. Come a aussie salute also as busy as a yobbo.
      .callout
        %i.fa.fa-bolt
        %h2 Moar Notez!
        %p Built like a banana bender no dramas shazza got us some sheila. Grab us a moolah my she'll be right whinge. Stands out like a perve to get a dog up ya bodgy. Lets throw a bities also come a bludger. It'll be boogie board heaps stands out like a banana bender.

#bottom_cta
  .wrapper
    %h2 Please!
    %p I need the money - please sign up!
    %button= link_to "Click here to save me and my family from poverty", new_user_registration_path

%footer
  %p &copy; Steve Smith